body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.quiz-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #faa272;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}

h1, h2 {
  text-align: center;
  color: #333;
}

.question-box {
  background-color: #bccbe1;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  display: block;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 768px) {
  .quiz-container {
    margin: 20px 10px;
    padding: 15px;
  }

  h1, h2 {
    font-size: 20px;
  }

  button {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .question-box {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .quiz-container {
    padding: 10px;
  }

  p, label {
    font-size: 15px;
  }
}